body {
    padding: 5px;
}

ul {
    list-style-type:;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(17, 97, 163);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    display: inline;
    float: left;
}
li a {
    display: block;
    padding: 14px 16px;
    color: #dddddd;
    text-decoration: none;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(102, 1, 113);
}
#para {
    padding: 30px;
    border: 2px solid;
    
}

div{ 
background-color: darkorange;
padding: 20px;
margin-left:auto;
}